### import libraries

In [1]:
import numpy as np 

import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim 

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans


import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### read data to pandas dataframe

In [2]:
df= pd.read_excel(r'C:\Users\John\Downloads\pcodetoronto.xlsx')

In [3]:
df.head(10)

  Postcode       Borough   Neighbourhood
0      M1A  Not assigned    Not assigned
1      M1B   Scarborough         Malvern
2      M1B   Scarborough           Rouge
3      M1C   Scarborough  Highland Creek
4      M1C   Scarborough      Port Union
5      M1C   Scarborough      Rouge Hill
6      M1E   Scarborough       Guildwood
7      M1E   Scarborough     Morningside
8      M1E   Scarborough       West Hill
9      M1G   Scarborough          Woburn

### replace "not assigned" by NaN in Borough

In [4]:
df['Borough'].replace("Not assigned", np.nan, inplace = True)
df.head(10)

  Postcode      Borough   Neighbourhood
0      M1A          NaN    Not assigned
1      M1B  Scarborough         Malvern
2      M1B  Scarborough           Rouge
3      M1C  Scarborough  Highland Creek
4      M1C  Scarborough      Port Union
5      M1C  Scarborough      Rouge Hill
6      M1E  Scarborough       Guildwood
7      M1E  Scarborough     Morningside
8      M1E  Scarborough       West Hill
9      M1G  Scarborough          Woburn

### drop NaN in Borough (ignore cells with "not assigned")

In [5]:
df.dropna(subset=["Borough"], axis=0, inplace=True)

df.reset_index(drop=True, inplace=True)

### replace "not assigned" by NaN in Neighbourhood

In [6]:
df['Neighbourhood'].replace("Not assigned", np.nan, inplace = True)
df.head(10)

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough         Malvern
1      M1B  Scarborough           Rouge
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Port Union
4      M1C  Scarborough      Rouge Hill
5      M1E  Scarborough       Guildwood
6      M1E  Scarborough     Morningside
7      M1E  Scarborough       West Hill
8      M1G  Scarborough          Woburn
9      M1H  Scarborough       Cedarbrae

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [7]:
df["Neighbourhood"].replace(np.nan, df['Borough'], inplace=True)

### to check correction

In [8]:
df.loc[df['Borough'] == "Queen's Park"]

    Postcode       Borough Neighbourhood
182      M9A  Queen's Park  Queen's Park

### two rows will be combined into one row with the neighborhoods separated with a comma

In [9]:
 df2 =  df.groupby("Postcode")['Neighbourhood'].apply(lambda x: ','.join(x)).to_frame()

In [10]:
df2.head()

                                 Neighbourhood
Postcode
M1B                              Malvern,Rouge
M1C       Highland Creek,Port Union,Rouge Hill
M1E            Guildwood,Morningside,West Hill
M1G                                     Woburn
M1H                                  Cedarbrae

In [11]:
df2.shape

(103, 1)